.idea
*.iml
logs
exporttimings.csv
target
*.code-workspace
exports
/welt-native/target/


# Artefacts de build natifs (regeneres par mvn -Pnative, cf. docs/welt/)
WorldPainter/WPCore/src/main/resources/natives/

